.footer {
    padding: 15px 24px;
}

.footer > .logo {
    display: none;
}

.social-media-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.social-media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    padding: 8px;
    border-radius: 1000px;
}

@media (min-width: 1280px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 43px 10%;
    }

    .footer > .logo {
        display: flex;
    }

    .social-media-list {
        gap: 50px;
    }
}