.header {
    background-color: var(--pink-200);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 10%
}

.logo {
    display: flex;
    gap: 6px;
    align-items: center;
}

.logo-name {
    font-weight: 500;
    font-size: 24px;
}

.nav-list {
    border-radius: 10px;
    min-width: 200px;
    display: none;
    flex-direction: column;
    list-style: none;
    background: var(--white);
    position: absolute;
    right: 24px;
    top: 55px;
    border: 1px solid black
}

.nav-item {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    color: var(--black-light);
}

.nav-item:first-child {
    margin-top: 10px;
}

.nav-item:last-child {
    margin-bottom: 10px;
}

.nav-item:hover {
    background-color: var(--pink);
}

.menu-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .nav-list {
    display: flex;
}

@media (min-width: 1280px) {
    .menu-label {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        border: none;
        gap: 30px;

        position: static;
    }

    .nav-item:hover {
        background: none;
    }

    .nav-list

    .nav-item {
        padding: 0;
    }

    .nav-item:first-child, .nav-item:last-child {
        margin: 0;
    }
}