/* Showcase */

.showcase-container {
    background-color: var(--pink-200);
    padding: 43px 10%;
}

.textgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--black-light);
}

.title-primary {
    font-size: 32px;
}

.description {
    margin-bottom: 32px;
    text-align: center;
    color: var(--gray-200);
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--red);
    border: none;
    padding: 12px 32px;
    font-size: 14px;

    width: 100%;
    font-weight: 600;
    color: var(--white);
    border-radius: 8px;
}

/* Accessory */

.accessory-container {
    background-color: var(--white);
    padding: 43px 24px;
}

.title-secondary {
    font-size: 24px;
}

.accessory-list {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.accessory-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 240px;
}

.accessory-item-title, .accessory-item-description {
    text-align: center;
}

/* Donate */
.donate-container {
    background-color: var(--pink-200);
    padding: 43px 24px;
}

.showcase-img {
    display: none;
}

@media (min-width: 1280px) {

    /* Showcase */
    .showcase-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .showcase-container > .textgroup {
        max-width: 500px;
        align-items: start;
    }

    .showcase-container > .textgroup > .title, .description {
        text-align: start;
    }

    .title {
        font-size: 48px;
    }

    .button {
        font-size: 16px;
    }

    .button-primary {
        width: 250px;
    }

    .showcase-img {
        display: block;
    }

    /* Accessory */

    .accessory-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accessory-container > .textgroup {
        width: 500px;
    }

    .accessory-container > .textgroup > .description {
        text-align: center;
    }

    .accessory-list {
        flex-direction: row;
        gap: 50px;
    }

    /* Donate */
    .donate-container {
        display: flex;
        justify-content: space-between;
        padding: 43px 10%;
    }

    .donate-container > .textgroup {
        align-items: start;
        width: 500px;
        justify-content: center;
    }

    .donate-container > .textgroup > .title, .description {
        text-align: left;
    }
}